body{
    margin: auto;
    max-width: 600px;
  }
  
  .grid{
    border: 2px solid black;
    height: 600px;
    width: 600px;
    display: grid;
    margin-top: 100px;
  }

  .buttons{
    margin-top: 40px;
    text-align: center;
  }
  