html{
  background: #52ddff61;
  height: 100%;
}

body{
  margin: auto;
  max-width: 550px; 
}
  
#title{
  text-align-last: center;
}
  
.grid{
  border: 5px solid #2b7688;
  border-radius: 5px;
  height: 550px;
  width: 550px;
  display: grid;
  margin-top: 60px;
}

.grid:hover{
  border-color: white;
}

.buttons{
  margin-top: 40px;
  text-align: center;
}

button{
  padding: 7px 10px 7px 10px;
  width: 100px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-left: 40px;
}

button:hover{
  background-color: #004758;
  color: white;
}

button:focus{
  outline: none;
}
  